
.icon-mail:before { content: '\e800'; } /* '' */
.icon-camera:before { content: '\e801'; } /* '' */
.icon-paper-plane:before { content: '\e802'; } /* '' */
.icon-phone-outline:before { content: '\e803'; } /* '' */
.icon-warehouse:before { content: '\e840'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
